html,
body,
#root,
#root > * {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-loading-wrapper, .semi-spin-children {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.app-loading-wrapper, .semi-spin-children > * {
  height: 100%;
}